.main_div{
  margin:20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input_produto{
  text-align: start;
  width: 200px;
  margin-bottom: 10px;
}

.campo_alimento{
  text-align: start;
  padding-left: 5px;
  color: #fff;
  background-color: #89bd23;
  margin: 10px 0;
}